body{
    font-family: Arial, Verdana;
    background-color: #000000; /* use decimal values*/
    color: #ffffff;
    margin-top: 20px;
    margin-left: 20px; /* check adding right margin */
    margin-right: 20px;
}

h1{
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

h2{
    font-size: 30px;
    color: #0d0d0d; /* very dark gray */

}

p{
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}

img{
    width: 250px;
    display: block;
    margin: 0 auto;
    border : 10px dashed white;
}

div{
    min-height: 125px;
    padding: 20px;
    border: 3px solid white;
}

.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

.red{
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid white;
    border-bottom: 5px solid white;
}

.blue{
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid white;
    border-top: 2px solid white;
}

.blue h2{
    color: #c4c4c4;
}

.blue p{
    color: #c4c4c4;
}

.yellow{
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid white;
    border-left: 5px solid white;
}

.yellow p{
    color: #707070;
}

.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid white;
    border-top: 2px solid white;
}

footer{
    background: linear-gradient(to right, #000000 0%, #0000ff 25%, #0066ff 70%, #000000 100%);
    border: 5px solid white;
}

footer p{
    text-align: right;
    font-size: 20px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}